body {
  background-color: pink;
}

#buttons-container {
  display: flex;
  justify-content: center;
}

#burger-container {
  display: flex;
  flex-direction :column;
  justify-content :flex-end;
  height: 200px;
  width: 400px;
  margin: 20px auto;
  background-color: white;
  padding: 8px;
}

.btn {
	background: none;
  background-color: #1D6AC2;
	border: none;
  border-radius: 5px;
  color: white;
	cursor: pointer;
	outline: none;
  padding: 4px 8px;
}

.btn-delete {
  background-color:	#D2691E;
}

.btn:not(:last-child) {
  margin-right: 4px;
}

.bun {
  margin: 0 auto;
  height: 35px;
  width: 180px;
  background-color: #DEB887;
}

.bun-top {
  border-radius: 18px 18px 4px 4px;
}

.bun-bottom {
  border-radius: 4px 4px 18px 18px;
}

.patty {
  margin: 0 auto;
  height: 25px;
  width: 180px;
  background-color: #B22222;
  border-radius: 12px;
}

.cheese {
  height: 3px;
  background-color: #FFD700;
  width: 160px;
  margin: 0 auto;
}

.plate {
  border: 5px solid grey;
  border-radius: 0 0 10px 10px;
  border-top: none;
  margin: 0 auto;
  width: 200px;
}

.cushined {
  margin: 1px auto;
  padding: 20px 0;
}

.flattened {
  padding: 0;
  transition: padding 0.5s;
}